body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.text-align-center {
    text-align: center;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-40 {
    padding-top: 40px;
}
